.optionsList label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8px;
}

.optionsList select{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10 px, 10px, 30px, rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 15px;
    padding: 20px 20px;
    outline-color: #6278f7;
    font-size: 16px;
}
